<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>

    <link rel="stylesheet" type="text/css" href="/css/styleHF.css">
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleActivities.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">

</head>

<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>

    <h1 class="head">Unforgettable Activities</h1>


    <div class="first">
        <% if(activities!=="") {%>
            <% let id=1; %>
            <% activities.forEach((activity) => { %>
        <div class="btn" onclick="location.href= '/activities/<%=activity.Type%>'">
            <div>
                <img src="/images/activities/<%=activity.Picture[2]%>"  alt="qaitbay" width="300 px" height="200 px">
            </div>

            <div>
                <h5><%=activity.Type%></h5>
                <h4><%=activity.Name%> </h4>
                <h5><%=activity.Duration%></h5>
                <h5><mark><%=activity.Advantage%></mark></h5>
            </div>
            <div>
                <% if(activity.Rate === "0") { %>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <% } %>
                <% if(activity.Rate==="1") { %>
                    <i class="fa-solid fa-star"></i>
                    <% } %>
                    <%  if(activity.Rate==="2") { %>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <% } %>
                     <% if(activity.Rate==="3") { %>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <% } %>
                     <% if(activity.Rate==="4") { %>
                      <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <% } %>
                     <% if(activity.rRate==="5"){ %>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <% } %>
            </div>
            <div>
                <h3>From E£ <%=activity.Price%> per person</h3>
            </div>
        </div>
        <% id++; %>
        <% }); %>
    <% } %> 
    </div>

    <%- include("partials/footer.ejs") %>

</body>

</html>