<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>

    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" type="text/css" href="/css/styleActivities.css">

    <style>
        #searchacts{
            position: relative;
            border-radius: 10px;
            margin-top: 15px;
            margin-right: 20px;
            border: none;
            padding: 5px;
            width:90%;
            height:33px;
            box-sizing: border-box;
        }
        #searchacts:focus {
            outline: 3px solid #ddd;
        }

        #search{
            float:right;
            width:40%;
        }

        #nomatch{
            display: none;
        }
    </style>
    <script>
        function filter(){
            var match = false;
            var query = document.getElementById('searchacts').value.toUpperCase();
            var acts = document.getElementsByClassName('btn');
            for (let index = 0; index < acts.length; index++) {
                const element = acts[index];
                var id = element.id.toUpperCase();
                if(id.includes(query)){
                    element.style.display='block';
                    match = true;
                }
                else{
                    element.style.display='none';
                }
            }
            if(!match){
                document.getElementById('nomatch').style.display='block';
            }
            else{
                document.getElementById('nomatch').style.display='none';
            }
        }
    </script>
</head>

<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>
    <div id="search">
        <input id="searchacts" name="searchacts" onkeyup=filter() type="text" placeholder="Search Activities">
            <div id="searchResults" class="dropdown-content">
            </div>
    </div>
    <div class="page">
        <h1 class="head">Activities</h1>
        <div id="nomatch">
            <h2>Nothing matches your search...</h2>
        </div>
        

        <div class="first">
            <% if(activities!=="") { %>
                <% let id=1; %>
                <% activities.forEach((activity) => { %>
                <div class="btn" id="<%=activity.Name%>" onclick="location.href= '/activities/<%=activity.Name%>'">
                <div>
                    <img src="/images/activities/<%=activity.Picture[2]%>"  alt="qaitbay" width="300 px" height="200 px">
                </div>

            <div>
                <h5><%=activity.Type%></h5>
                <h4><%=activity.Header%> </h4>
                <h5><%=activity.Duration%></h5>
                <h5><mark><%=activity.Advantage%></mark></h5>
            </div>
            <% if(activity.Reviews.length > 0){%>
            <div class="rating">
                <%let revs = activity.Reviews;%>
                <% let sum =0;%>
                <% revs.forEach((rev)=>{%>
                    <%sum+= parseInt(rev.Rating);%>
                <%})%>
                <%let avg = sum / (activity.Reviews.length)%>
                <% if(parseInt(avg) > 0){%>
                    <% for (let i = 0; i < avg; i++) {%>
                        <i class="fa-solid fa-star" style="color: rgb(238, 203, 5);"></i>
                    <%}%>
                    <div>
                        
                        <p><span><i class="fa-sharp fa-solid fa-comments" style="color:black"></i></span> <%=activity.Reviews.length%> Reviews</p>
                        
                    </div>
                    
            </div>
            <%}%>
            <%}else{%>
                <div>
                    <p>No Reviews Yet</p>
                </div>
            <%}%>
            <div>
                <h4><%=activity.Price%>LE per person</h4>
            </div>
        </div>
        <% id++; %>
        <% }); %>
    <% } %> 
    </div>
</div>


<% if(activities !== 0) { %>
    <div class="c">
        <p id="num">Pages:</p>
        <div class="pagination">
                <% let id1=0; %>
                <% while(id1 !== length) { %>
                    <form action="/activities/:<%=id1%>" method="post" id="form">
                <button type="submit"><p class="link" value="<%id1+1%>"><%=id1+1%></p></button>
                 </form>
                <% id1++;%>
            <% } %>
        </div>
    </div>
    <% } %>

    <%- include("partials/footer.ejs") %>

</body>

</html>