<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add city</title>
    <link rel="stylesheet" href="../css/styleAdminDashboard.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="../css/styleAddHotel.css">

</head>

<body>
    <%- include("partials/adminHeader.ejs") %>

    <div class="main-content">

        

            <div class="right">
                <div id="container">
                    <h2><ins>Add City:</ins></h2>
                    <form id="form" method="post" action="/addcities/submit" enctype="multipart/form-data">
                        <div>
                            <label for="name">
                                <h2>City Name</h2>
                            </label>
                            <input type="text" name="cityname" id="name">
                            <span class="error-message"></span>
                        </div>
                        <div>
                            <h2>City Image</h2>
                        </div>
                        <div>
                            <div>
                                <input type="file" id="imgs" name="imgs" multiple>
                            </div>
                            <span class="error-message"></span>
                        </div>
                </div>
                <div>
                    <br>
                    <label for="hotels">Hotels</label>
                    <br><br>
                </div>
                
                <div>
                    <% hotels.forEach((hotel)=>{ %>
                    <input type="checkbox" style="width:10px;" id=<%= hotel.Name %> name="hot" value=<%= hotel.Name %>>
                    <label><%=hotel.Name %></label><br>
                    <% }) %>
                    <textarea name="hotels" id="selectedHotels" cols="30" rows="10" style="display: none;"></textarea>
                </div>
                
                <div>
                    <br>
                    <label for="activities">activities</label>
                    <br><br>
                </div>
                <div>
                    <% activities.forEach((activ)=>{ %>
                        <input type="checkbox" style="width:10px;" id=<%= activ.Name %> name="act" value=<%= activ.Name %> >
                        <label><%=activ.Name %></label><br>
                        <% }) %>
                    <textarea name="activities1" id="selectedActivities" cols="30" rows="10" style="display: none;"></textarea>
                </div>
                <button type="submit" id="sub" style="height:30px;" >Save</button>
                </form>
                <script src="/js/cities.js"  type="text/javascript"> </script>
            </div>

    </div>
   
</body>

</html>