<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>

    <link rel="stylesheet" href="/css/styleActivities.css">
    <link rel="stylesheet" href="/css/styleAdminDashboard.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleChat.css">

</head>
<style>

</style>

<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <div class="chatbox" id="chatbox">
        <div class="chat-title">
            <h3>Chatbox</h3>
        </div>
        <div class="window">
            <div class="left-message" id="left-message">
                <div class="msg-id">
                    <div>
                        <img src="../images/profile.jpg" alt="person" width="25px" height="25px"
                            style="border-radius: 15px; border: none;">
                    </div>
                </div>
                <div class="msgcontent">
                    <div>
                        <p class="textmsg"></p>
                    </div>
                </div>
                <span class="stamp">
                    <p class="time"></p>
                </span>
            </div>
            <div class="right-message" id="right-message">
                <div class="msg-id">
                    <div>
                        <img src="../images/profile.jpg" alt="person" width="25px" height="25px"
                            style="border-radius: 15px; border: none;">
                    </div>

                </div>
                <div class="msgcontent">
                    <div>
                        <p class="textmsg"></p>
                    </div>
                </div>
                <span class="stamp">
                    <p class="time"></p>
                </span>
            </div>
        </div>
        <div class="type-msg">
            <input type="text" placeholder="Enter Message.." id="msg"><span><button
                    onclick="sendMsg()">^</button></span>

        </div>
    </div>



    <script src="/js/chat.js"></script>
    <%- include("partials/adminHeader.ejs") %>
        <div class="main-content">

            <div class="right">
                <h1 class="head">TOP ACTIVITIES</h1>
                <div class="first">
                    <% if(Activities!=="") {%>
                        <% let id1=0; %>
                        <%topactivities.forEach((topactivity) => { %>
                            <%let rate1=activityratings[id1]; %>
                        <% Activities.forEach((Activity) => { %>
                            <% console.log(Activity.Name.split(',')); %>
                            <% console.log(topactivity.split(',')); %>
                            <% if( (Activity.Name.split(',').toString()) === (topactivity.split(',').toString()) ) { %>
                    <div class="btn">
                        <div>
                            <img src="/images/activities/<%=Activity.Picture[0]%>" width="260 px" height="200 px" >
                        </div>

                        <div>
                            <h5><%=Activity.Header%></h5>
                            <h4><%=Activity.Advantage%> </h4>
                        </div>
                        <span class="rating">
                            <% for(var k =0; k < rate1;k++){ %>
                                <i class="fa-solid fa-star"></i>
                                <% } %>
                            </span>

                    </div>
                    <% } %>
                    <% id1++; %>
                    <% }); %>
                    <% }); %>
                <% } %> 
                    
                </div>
                


                <h1 class="head">TOP HOTELS</h1>
                <div class="first">
                    <% if(Hotels!=="") {%>
                        <% let id2=0; %>
                        <%tophotels.forEach((tophotel) => { %>
                            <%let rate2=hotelratings[id2]; %>
                        <% Hotels.forEach((hotel) => { %>
                            <% console.log(hotel.Name.split(',')); %>
                            <% console.log(tophotel.split(',')); %>
                            <% if( (hotel.Name.split(',').toString()) === (tophotel.split(',').toString()) ) { %>
                    <div class="btn">
                        <div>
                            <img src="/images/Hotels/<%=hotel.Picture[0]%>" width="260 px" height="200 px" >
                        </div>

                        <div>
                            <h3><%=hotel.Name%></h3>
                            <h4><%=hotel.Location%> </h4>
                        </div>

                        <span class="rating">
                        <% for(var k =0; k < rate2;k++){ %>
                            <i class="fa-solid fa-star"></i>
                            <% } %>
                        </span>
                         
                        </div>
                        <% } %>
                        <% console.log ("hi") %>
                        <% id2++; %>
                        <% }); %>
                        <% }); %>
                    <% } %> 
                    </div>

                </div>
            </div>
            </div>

</body>

</html>