<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styleCart.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleForm.css">
</head>
<body>

    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
 
    <%- include("partials/headerPages.ejs") %>

    <h1 style="margin-left:2%;">Shopping Cart</h1>
    <% var j=0; %>
    <% var d=1; %>
    <% var count=0; %>
    <% var totalPrice=0; %>
    <div class="cart">
        <div class="left" >
            <% if(cart==="") {%>
                <div style="margin-left: 40%; margin-top: 10%;">
                    <h2>Your Cart Is Empty</h2>
                </div>
            <% } %>
            <div id="empty" style="margin-left: 40%; margin-top: 10%; display: none;">
                <h2>Your Cart Is Empty</h2>
            </div>
            <% if(hotels!="" && cart!=""){ %>
                 <%hotels.forEach((hotel)=>{%>  <!--showing hotels' cart -->
            <div class="items" id="<%=d%>">
                <div class="image">
                    <div>
                        <img src="../images/Hotels/<%= hotel.Picture[0] %>" alt="icon" style="width:250px; height:200px;">
                    </div>
                </div>
                <div class="item-info">
        
                    <div>
                        <h2><%= hotel.Name %></h2>
                    </div>
        
                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-people-group"></i>
                        </div>
                        <div>
                            <p><%= cart.Hotels[j].adults %> Adults, <%= cart.Hotels[j].children %> Children</p> 
                        </div>
                    </div>
                    
                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div>
                            <p> From: <%=cart.Hotels[j].checkIn %>  To: <%=cart.Hotels[j].checkOut %></p>
                        </div>
                    </div>
                    
                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <div>
                            <p>Rooms: <%= cart.Hotels[j].rooms %>x <%=cart.Hotels[j].roomType  %></p>
                        </div>
                    </div>

                    <div class="section">
                        <div class="icon">
                            <i class="fa-solid fa-money-bill-wave"></i>
                        </div>
                        <div>
                            <p>This activity is non-refundable</p>
                        </div>
                    </div>
                    
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script src="/js/cart.js"></script>   
                <div class="item-right">
                    <i class="fa-solid fa-trash-can" style="margin-left:10%;" onclick="hideItem('<%=d%>')"></i>
                    <p>$ <%=cart.Hotels[j].price%></p>
                </div>
            </div>
             <% totalPrice+=cart.Hotels[j].price;%>
             <% j++; %>
             <% d++; %>
             <% count++; %>
               <% })%>
            <% } %>
        
        
        <%var id=d; %>
        <%j=0; %>
        <% if(activities!="" && cart!=""){ %>
            <%activities.forEach((activity)=>{%>   <!--showing activities cart -->
        <div class="items" id="<%=id%>">
            <div class="image">
                <div>
                    <img src="../images/activities/<%=activity.Picture[0] %>" alt="icon" style="width:250px; height:200px;">
                </div>
            </div>
            <div class="item-info">
    
                <div>
                    <h2><%= activity.Name %></h2>
                </div>
    
                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div>
                        <p>Date: <%=cart.Activities[j].date%></p> 
                    </div>
                </div>
                
                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div>
                        <p>From: <%=activity.Starttime%>  To:<%=activity.Endtime%></p> 
                    </div>
                </div>

                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-people-group"></i>
                    </div>
                    <div>
                        <p>Participants: <%=cart.Activities[j].participants%></p> 
                    </div>
                </div>
                
                <div class="section">
                    <div class="icon">
                        <i class="fa-solid fa-money-bill-wave"></i>
                    </div>
                    <div>
                        <p>This activity is non-refundable</p>
                    </div>
                </div>
                
            </div>
                
            <div class="item-right">
                <i class="fa-solid fa-trash-can" style="margin-left:10%;" onclick="hideItem('<%=id%>')"></i>
                <p>Price: $<%=cart.Activities[j].price%> </p>
            </div>
        </div>
        <%totalPrice+=cart.Activities[j].price;%>
        <% j++;%>
        <% id++;%>
        <% count++; %>
        <% }) %>
        <% } %>
     </div>
        <% if(cart!="") {%>
        <div class="r">
            
            <div class="right">
                <div style="display:flex; height:30px;">
                    <div style="flex:60%;">
                        <h3>Total (<%=count%>):</h3>
                    </div>
                    
                    <div>
                        <h3>
                           $<%=totalPrice%>
                        </h3>
                    </div>
                    
                </div>
                <div>
                    
                    <p style="font-size:15px;">All taxes and fees included</p>
                </div>
                <div style="text-align:center;">
                    <button onclick="location.href='/paymentForm'">Checkout</button>
                    <button class="clear" style="background-color: #36241b; color:white;" onclick="clr()">Clear Cart</button>
                </div>
            </div>
        </div>
        <% } %>
            

    </div>
        
    
<div style="height:200px">

</div>

<%- include("partials/footer.ejs") %>

  <script src="/js/cart.js"></script>
</body>
</html>