<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
   
    <title>Chat app</title>
</head>

<body>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <%- include("partials/headerPages.ejs") %>

    <div>
        <div class="main" id="chat" style=" width: 460px;margin-top: 5%;margin-bottom: 6%;" >
            <div class="name">
                <span><i class="far fa-user"></i></span>
                <input type="hidden" value="<%=user.Type %>" id="usertype">
                 <p id="name-input" class="name-input" >Egy Tours</p> 
                 <p id="senderid" style="display:none"><%=user._id%></p>
            </div>
            <ul class="message-container" id="message-container">
                <%chats.forEach(chat=>{%>
                    <%if(chat.receiver_id==user._id){%>
                      <li class="m-left">
                        <p class="message">
                          <%=chat.message%>
                            <span><%=chat.createdAt%></span>
                        </p>
                    </li>
                    <%}else{%>
                    <li class="m-right">
                      <p class="message">
                        <%=chat.message%>
                          <span><%=chat.createdAt%></span>
                      </p>
                    </li>
                    <%}%>
                  <%})%>

                <li class="message-left">
                    <p class="message">
                        <span></span>
                    </p>
                </li>
                <li class="message-right">
                    <p class="message">
                        <span></span>
                    </p>
                </li>
            </ul>

            <form class="message-form" id="message-form">
                <input type="text" name="message" id="message-input" class="message-input">
                <input type="hidden" name="sender_id" id="sender" value="<%=user._id%>">
                <div class="v-divider"></div>
                <button type="submit" class="send-button">
                    send <span><i class="fas fa-paper-plane"></i></span>
                </button>
            </form>

        </div>
   </div>

    <div id="foot">
        <%- include("partials/footer.ejs") %>
    </div>
     


     <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
        integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script src="/js/chat.js" type="text/javascript"></script>
         <script src="/socket.io/socket.io.js"></script>

</body>


</html>