<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleActivities.css">
    <link rel="stylesheet" href="/css/styleCity.css">
    <link rel="stylesheet" href="/css/user/styleForm.css">
</head>

<body>
    <%- include("partials/headerPages.ejs") %>
        <div>
            <div class="page-title">
                <img src="/images/cities/<%=city.picture[0]%>" alt="<%=city.Name%>" id="mainpic">
                <div class="title-text">
                    <h3>Things to do in</h3>
                    <h1><%=city.Name%>,Egypt</h1>
                </div>
            </div>
        </div>

        <h1 class="head"><%=city.Name%> Activities</h1>


        <div class="first">
            <% if(activities!=="" ) { %>
                <% let id=1; %>
                    <% activities.forEach((activity)=> { %>
                        <div class="btn" onclick="location.href= '/activities/<%=activity.Name%>'">
                            <div>
                                <img src="/images/activities/<%=activity.Picture[1]%>" width="300 px" height="200 px" class="img">
                            </div>

                            <div>
                                <h5>
                                    <%=activity.Type%>
                                </h5>
                                <h4>
                                    <%=activity.Header%>
                                </h4>
                                <h5>
                                    <%=activity.Duration%>
                                </h5>
                                <h5><mark>
                                        <%=activity.Advantage%>
                                    </mark></h5>
                            </div>
                            <div>
                                <% if(activity.Rate==="0" ) { %>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <% } %>
                                        <% if(activity.Rate==="1" ) { %>
                                            <i class="fa-solid fa-star"></i>
                                            <% } %>
                                                <% if(activity.Rate==="2" ) { %>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <% } %>
                                                        <% if(activity.Rate==="3" ) { %>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <% } %>
                                                                <% if(activity.Rate==="4" ) { %>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <i class="fa-solid fa-star"></i>
                                                                    <% } %>
                                                                        <% if(activity.Rate==="5" ){ %>
                                                                            <i class="fa-solid fa-star"></i>
                                                                            <i class="fa-solid fa-star"></i>
                                                                            <i class="fa-solid fa-star"></i>
                                                                            <i class="fa-solid fa-star"></i>
                                                                            <i class="fa-solid fa-star"></i>
                                                                            <% } %>
                            </div>
                            <div>
                                <h3>From E£ <%=activity.Price%> per person</h3>
                            </div>
                        </div>
                        <% id++; %>
                            <% }); %>
                                <% } %>
        </div>
        <h1 class="head"><%=city.Name%> Hotels</h1>
        <div class="first">
            <% if(hotels!=="" ) { %>
                <% let id1=1; %>
                    <% hotels.forEach((ht)=> { %>
                        <div class="btn">
                            <div>
                                <img src="/images/Hotels/<%=ht.Picture[0]%>" width="300 px" height="200 px" class="img">
                            </div>

                            <div>
                                <h5>
                                    <%=ht.Name%>
                                </h5>
                                <h4>
                                    <%=ht.Location%>
                                </h4>
                                <h5>
                                    <%=ht.PropertyAmen%>
                                </h5>
                                <h5>
                                    <%=ht.RoomFeatures%>
                                </h5>
                            </div>
                            

                        </div>
                        <% id1++; %>
                            <% }); %>
                                <% } %>
        </div>


        <script src="/js/weather.js" crossorigin="anonymous"></script>


        <%- include("partials/footer.ejs") %>

</body>

</html>