<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(hotel[0]!=="" ) {%>
        <title>Edit <%=hotel[0].Name%>
        </title>

        <link rel="stylesheet" href="/css/styleUsers.css">
        <link rel="stylesheet" href="/css/styleAddHotel.css">
        <link rel="stylesheet" href="/css/styleAdminDashboard.css">
        <link rel="stylesheet" href="/css/styleEditHotels.css">
        <%}%>
</head>

<body>

    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <% if(hotel[0]!=="" ){%>

        <%- include("partials/adminHeader.ejs") %>
        <div class="main-content">

            


                <div class="right">
                    <div id="cont">
                        <div>
                            <form action="/edithotels/updated/<%=hotel[0].Name%>" method="post" id="MYFORM" enctype="multipart/form-data">
                                <input type="text" style="display: none;" value="<%=hotel[0]._id%>">
                                <div>
                                    <h2>Hotel Name</h2>
                                </div>
                                <div>
                                    <input type="text" id="hotelname" name="name" value='<%=hotel[0].Name%>'>
                                    <input type="hidden" id="hotelid" name="id" value='<%=hotel[0]._id%>' >
                                </div>

                                <div>
                                    <h2>Location</h2>
                                </div>
                                <div>
                                    <input type="text" id="loc" name="location" value='<%=hotel[0].Location%>'>

                                </div>
                                <div>
                                    <div>
                                        <h2>Images</h2>
                                    </div>
                                    <div>
                                        <div id="imagess">
                                            <% let id=1 %>
                                                <% hotel[0].Picture.forEach((pic)=>{%>
                                                    <img onclick='showInput("imaginput<%=id%>","img<%=id%>")'
                                                        src="/images/Hotels/<%=pic%>" alt="<%=pic%>" id='img<%=id%>'
                                                        style="width:160px; height:130px">
                                                    <span>
                                                        <input type="file" name=<%=pic%> id="imaginput<%=id%>" hidden>
                                                    </span>
                                                    <% id++%>
                                                    <%})%>
                                        </div>
                                        <input type="text" style="display: none;" id="imagpaths" name="imgpaths">
                                    </div>
                                </div>

                                <div>
                                    <h2>About</h2>
                                </div>
                                <div>
                                    <textarea id="about" name="about" cols="100"
                                        rows="10"><%=hotel[0].About%></textarea>

                                </div>

                                <div>
                                    <h2>Property Amenities</h2>
                                </div>
                                <div class="item" id="item3">
                                    <ul id="i4" name="hotelAmen">
                                        <% id=1 %>
                                            <% let amens=hotel[0].PropertyAmen.split(",")%>
                                                <% amens.forEach((amen)=>{%>
                                                    <% if(amen.length!=0){%>
                                                        <li id="amenli<%=id%>"><%=amen.trim()%></li>
                                                        <span><button type="button" id="delitem1<%=id%>"
                                                                onclick="removeItem2('amenli<%=id%>',this)">remove</button></span>
                                                        <% id++%>
                                                            <%}%>
                                                                <%})%>
                                    </ul>
                                </div>
                                <div>
                                    <textarea name="finalamens" id="finalamens" cols="15" rows="5"
                                    style="display: none;"></textarea>
                                    <input type="text" id="addedamen" name="propamentext" placeholder="eg: Swimming Pools">
                                    <span class="error-message" id="erroramen"></span>
                                    <button class="plus" id="add" type='button'
                                        onclick="addItem('addedamen','finalamens','amenlinew','i4','erroramen')">+</button>
                                </div>



                                <div>
                                    <h2>Room Features</h2>
                                </div>
                                <div class="item" id="item">
                                    <ul id="i5">
                                        <% id=1 %>
                                            <% let feats=hotel[0].RoomFeatures.split(",")%>
                                                <% feats.forEach((feat)=>{%>
                                                    <% if(feat.length!=0){%>
                                                        <li id="featli<%=id%>"><%=feat.trim()%></li>
                                                        <span><button type="button" id="delitem2<%=id%>"
                                                            onclick="removeItem2('featli<%=id%>',this)">remove</button></span>

                                                        <% id++%>
                                                            <%}%>
                                                                <%})%>
                                    </ul>
                                </div>
                                <div>
                                    <textarea name="finalfeats" id="finalfeats" cols="15" rows="5"
                                    style="display: none;"></textarea>
                                    <input type="text" id="addedfeat" name="roomfeattext" placeholder="eg: Air Conditioning">
                                    <span class="error-message" id="errorfeat"></span>
                                    <button class="plus" id="add2" type='button'
                                        onclick="addItem('addedfeat','finalfeats','featlinew','i5','errorfeat')">+</button>
                                </div>



                                <div>
                                    <h2>Room Types</h2>
                                </div>
                                <div class="item" id="item2">
                                    <ul id="i6">
                                        <% id=1 %>
                                            <% let types=hotel[0].RoomTypes%>
                                                <% types.forEach((type)=>{%>
                                                    <% if(type.length!=0){%>
                                                        <li id="typeli<%=id%>"><%=type.Name%> - <%=type.Price%>LE | <%=type.Rooms%> Rooms | Capacity: <%=type.Capacity.Adults%> Adults + <%=type.Capacity.Children%> Children</li>
                                                        <button type="button" id="delitem3<%=id%>" onclick="removeItem(this,'typeli<%=id%>','updatebut<%=id%>')">remove</button>
                                                        <button type="button" id="updatebut<%=id%>" onclick="updateType('typeli<%=id%>')">update</button>
                                                        <% id++%>
                                                            <%}%>
                                                                <%})%>
                                    </ul>
                                    <div id="showedit" style="display: none;">
                                        <h4>New Type:</h4>
                                        <input type="text" id="edittype">
                                        <h4>New Price:</h4>
                                        <input type="number" id="editprice">
                                        <h4>New Rooms:</h4>
                                        <input type="number" id="editrooms">
                                        <h4>New Capacity:</h4>
                                        <h5>Adults:</h5>
                                        <input type="number" id="editcaps" placeholder="eg: 2">
                                        <h5>Children:</h5>
                                        <input type="number" id="editcaps2" placeholder="eg: 1">
                                        <button type="button"  id="updDone">done</button>
                                    </div>
                                </div>
                                <div id="addtype">
                                    <input type="text" id="addedtype" name="roomtypetext" placeholder="eg: Single">
                                    <span class='error-message' id="errortype"></span>
                                    <button class='plus' id="add" type='button'
                                        onclick="addType()">+</button>
                                </div>

                                <div id="showprice" style="display: none;">
                                    <h4>Enter Price Per Night </h4>
                                    <input type="number" id="price" name="typeprice" placeholder="eg: 1000">
                                    <span class='error-message' id="errorprice"></span>
                                    <h4>Enter Number of Rooms </h4>
                                    <input type="number" id="rooms" name="typerooms" placeholder="eg: 100">
                                    <span class='error-message' id="errorrooms"></span>
                                    <h4>Enter Maximumum Capacity </h4>
                                    <h5>Adults:</h5>
                                    <input type="number" id="cap" name="typecap" placeholder="eg: 2">
                                    <span class='error-message' id="errorcap"></span>
                                    <h5>Children:</h5>
                                    <input type="number" id="cap2" name="typecap2" placeholder="eg: 1">
                                    <span class='error-message' id="errorcap2"></span>
                                    <button class='plus' id="done" type='button' onclick="donez('typeli','i6')" style="width:100px"s>done</button>
                                    
                                </div>
                                <div id="errors">
                                <span id="success" style="color:green"></span>
                                </div>
                                

                                <input type="text" name="finaltypes" id="finaltypes" hidden>
                                <input type="text" name="finalprices" id="finalprices" hidden>
                                <input type="text" name="finalrooms" id="finalrooms" hidden>
                                <input type="text" name="finaladults" id="finaladults" hidden>
                                <input type="text" name="finalchild" id="finalchild" hidden>



                                <div id="buttons">
                                    <span>
                                        <button type="submit">Submit</button>
                                        <button type="button" onclick="location.href='/edithotels'"> Back</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
        </div>
        <%}%>
            <script src="/js/edithotel1.js"></script>
</body>

</html>