<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
   
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHotels.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">
    
</head>
<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>

    <%- include("partials/headerPages.ejs") %>


    <div id="parent">
        <% if(hotels!=="") {%>
            <% let id=1; %>
            <% hotels.forEach((hotel) => { %>
                <h2 id='name'+ <%= id %> class="h2hotels"><%=hotel.Name%></h2>
            <div class="btn" onclick="location.href= '/hotels/<%=hotel.Name%>'">
                <div class="image">
                    <img src="/images/Hotels/<%=hotel.Picture[0]%>" >
                </div>
                <div class="cols">
                    <div>
                       
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <div>
                            <p>14,010 reviews</p>
                        </div>  
                    </div>
                    <div>
                        <p><%=hotel.Location%></p>
                    </div>
                    
                        <div style="display:flex">
                            <i class="fa-solid fa-comment" style="margin-top:2%;"></i>
                            <span><p>1,324 mentions of egypt</p></span>
                        </div>

                        <div>
                            <p><%=hotel.Caption%></p>
                        </div>
                    </div>
                   
                   
                </div>
           

            <% id++; %>
            <% }); %>
        <% } %> 
    </div>
            

    <%- include("partials/footer.ejs") %>

</body>
</html>