<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/styleHF.css">
    <link rel="stylesheet" type="text/css" href="/css/styleCities.css">
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <link rel="stylesheet" type="text/css" href="/css/styleBody.css">
   
    
</head>
<body> 
 
   <%- include("partials/header.ejs") %>
    <div class="why-choose-us">
      <span class="all">
          <div class="first">
              <img src="/images/icons/icons8-satisfaction-64.png" alt="experience" id="icons">
              <div class="cardtitle">
                <h3 id="ben">Great Memories</h3>
              </div>
              <div class="cardinfo">
                <h5 id="desc">Browse and book tours and activities so incredible, you'll want to tell your friends.</h5>
              </div>
              
          </div>
          <div class="first">
            <img src="/images/icons/icons8-best-price-64.png" alt="price" id="icons2">
              <div class="cardtitle">
                <h3 id="ben">Honest Prices</h3>
              </div>
              <div class="cardinfo">
                <h5 id="desc">Best Prices in town. Huge selection of destinations with the minimum budget and highest quality.</h5>
              </div>
              
          </div>
          <div class="first">
            <img src="/images/icons/icons8-quality-64.png" alt="quality" id="icons">
              <div class="cardtitle">
                <h3 id="ben">Quality Guarantee</h3>
              </div>
              <div class="cardinfo">
                <h5 id="desc">High quality standards. Millions of reviews. A Viator company.you'll want to tell your friends.</h5>
              </div>
              
          </div>
          <div class="first">
            <img src="/images/icons/icons8-support-64.png" alt="support" id="icons">
              <div class="cardtitle">
                <h3 id="ben">Full Support</h3>
              </div>
              <div class="cardinfo">
                <h5 id="desc">Contact us and get full support from choosing tour to advice to what to take with you on trip.</h5>
              </div>
              
          </div>
        </span>
    </div>   
    <script src="/js/popupJS.js" type="text/javascript" ></script>



<div class="allimages">
        <h1 id="tex1">Explore Cities</h1>
      <div class = "row">
          <% cities.forEach((cit)=>{ %>
            <button onclick="location.href= '/cities/<%=cit.Name%>'" style="cursor: pointer;">
            <div class="container1">
                <img  src="/images/cities/<%=cit.picture[0]%>" alt="<%=cit.Name%>">
                <div class="centered"><%=cit.Name%></div>
            </div>
            </button>
            <% }) %>

        </div>
</div>


<script>
  var sender_id='<%=user._id%>';
  io('/user-namespace',{
    auth:{
      token:'<%=user._id%>'
    }
  });
</script>
<script src="/socket.io/socket.io.js"></script>



<%- include("partials/footer.ejs") %>
</body>
</html>