<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Payment Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/paymentForm.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleForm.css">
</head>
<body>
    <%- include("partials/headerPages.ejs") %>
    <div class="container">
        <div class="left">
            <h4>Booking Summary</h4>
            <%var i=0; %>
            <% var totalPrice=0; %>
            <% if(hotels!="") {%>
            <% cart.Hotels.forEach((hotel)=>{ %>
               <div class="booking">
                  <p>* <%=hotels[i].Name%></p> 
                  <p> From: <%=hotel.checkIn %>  To: <%=hotel.checkOut %></p>
                  <p>Rooms: <%= hotel.rooms %>x <%=hotel.roomType  %></p>
                  <p>Price: <%=hotel.days%>x $<%=hotel.price/hotel.days%></p>
               </div>
               <% totalPrice+=hotel.price %>
            <% }) %>
            <% } %>
            <hr>
            <p>Total Price: $<%=totalPrice%></p>
        </div>

        <div class="right">
        
            <form action="paymentForm/payment" method="post">
                
                <div class="pymt-radio">

                <div class="row-payment-method ">
                    <div class="select-icon hr">
                    <input type="radio" id="radio2" name="radios" value="pp" checked>
                    <label for="radio2"></label>
                    </div>
                    <div class="select-txt hr">
                    <p class="pymt-type-name">Credit Card</p>
                    <p class="pymt-type-desc">Safe money transfer using your bank account. Safe payment online. Credit card needed. Visa, Maestro, Discover, American Express</p>
                    </div>
                    <div class="select-logo">
                    <div class="select-logo-sub logo-spacer">
                    <img src="https://www.dropbox.com/s/by52qpmkmcro92l/logo-visa.png?raw=1" alt="Visa"/>
                    </div>
                    <div class="select-logo-sub">
                    <img src="https://www.dropbox.com/s/6f5dorw54xomw7p/logo-mastercard.png?raw=1" alt="MasterCard"/></div>
                    </div>

                </div>
                </div>
                <div class="form-cc">
                <div class="row-cc">
                <div class="cc-field">
                <div class="cc-title">Credit Card Number
                </div>
                <input type="text" class="input cc-txt text-validated" name="number"  />
                </div>
                </div>
                <div class="row-cc">
                <div class="cc-field">
                <div class="cc-title">Expiry Date
                </div>
                <select class="input cc-ddl" name="expMonth">
                <option selected>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>          
                </select>
                <select class="input cc-ddl" name="expYear">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option selected>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>            
                </select>
                </div>
                <div class="cc-field">
                <div class="cc-title">CVV Code<span class="numberCircle">?</span>
                </div>
                <input type="text" class="input cc-txt"  name="cvv"/>
                </div>
                </div>
                <div class="row-cc">
                <div class="cc-field">
                <div class="cc-title">Name on Card
                </div>
                <input type="text" class="input cc-txt" name="name"/>
                </div>
                </div>    

                </div>
                <div class="button-master-container">
                <div class="button-container"><a href="/cart">Return to Cart</a>
                </div>
                <div class="button-container button-finish"><button type="submit" class="subBtn">Finish Booking</button>
                </div>
                </div>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>

</body>
</html>