<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProfile.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>profile</title>
    <style>
        body{
          background-color: rgb(222, 221, 214);
        }
        form{
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.3);
          border:none;  
        }
        input{
          border-radius: 20px;
        }
    </style>
</head>
<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    <%- include("partials/headerPages.ejs") %>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img src="../images/homepage/profile.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div style="position: relative; text-align: center;">
                <h1>Hello, <%=user.Username%></h1>
              </div>
          </div>
          
          
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            <h3>Personal Info</h3>
            
            <form class="form-horizontal" role="form" action="/profile/update" method="post">
              <input type="hidden" value="<%=user._id%>" name="id" >
              <%if(success!==""){%>
                <div class="alert success" style="background-color: #04AA6D; color:white;">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  <%=success%>
                </div>
              <%}%>
              <%if(alerts!==undefined){%>
                <%alerts.forEach((alert)=>{%>
                  <div class="alert" style="margin-bottom: 5px; background-color:rgb(247, 70, 70); color:white;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <%=alert.msg%>
                  </div>
                <%})%>
              <%}%>
                
              <div class="form-group">
                <label style="margin-top: 6px;" class="col-lg-3 control-label">Username:</label>
                <div class="col-lg-8">
                  <h4><%=user.Username%></h4>
                </div>
              </div>
              <div class="form-group">
                <label style="margin-top: 6px;" class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                  <input style="border-radius: 10px;" class="form-control" type="text" name="email" value="<%=user.Email%>">
                </div>
              </div>
              <div class="form-group">
                <label style="margin-top: 6px;" class="col-lg-3 control-label">Phone Number: </label>
                <div class="col-lg-8">
                  <input style="border-radius: 10px;" class="form-control" type="text" name="phonenum" value="<%=user.PhoneNumber%>">
                </div>
              </div>
              <div class="form-group">
                <label style="margin-top: 6px;" class="col-lg-3 control-label">New Password: </label>
                <div class="col-lg-8">
                  <input style="border-radius: 10px;" class="form-control" type="password" name="password">
                </div>
              </div>
              <div class="form-group">
                <label style="margin-top: 6px;" class="col-lg-3 control-label">Confirm Password: </label>
                <div class="col-lg-8">
                  <input style="border-radius: 10px;" class="form-control" type="password" name="confpassword">
                </div>
              </div>
              <div style="text-align: right;">
                <button type='submit' style="background-color:#ea252d; border:none; color:white; border-radius: 10px; padding:5px; width:80px; margin-right:20px;">Update</button>
              </div>
              
            </form>
          </div>
      </div>
    </div>
    <hr>
    <style>
      .alert {
        opacity: 1;
        transition: opacity 0.6s; /* 600ms to fade out */
      }
      </style>
      
      <script>
      // Get all elements with class="closebtn"
      var close = document.getElementsByClassName("closebtn");
      var i;
      
      // Loop through all close buttons
      for (i = 0; i < close.length; i++) {
        // When someone clicks on a close button
        close[i].onclick = function(){
      
          // Get the parent of <span class="closebtn"> (<div class="alert">)
          var div = this.parentElement;
      
          // Set the opacity of div to 0 (transparent)
          div.style.opacity = "0";
      
          // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
          setTimeout(function(){ div.style.display = "none"; }, 600);
        }
      }
      </script>
<%- include("partials/footer.ejs") %>
</body>
</html>