<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/styleUsers.css">
    <link rel="stylesheet" href="/css/styleAdminDashboard.css">
    <link rel="stylesheet" href="/css/styleForm.css">
</head>
<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
    <div class="h">
        <div class="admin">ADMIN</div>ol90ewwq
    </div>

    <div class="main-content">
        <%- include("partials/adminHeader.ejs") %>

        <div class="right">
            <div id="container">
                <div class="addUser" id="addUser">
                    <form class="form">
                        <div class="signuptitle">
                              <h2>Add User Info</h2>
                        </div>
                        <div class="container">
                          <div class="input-group">
                            <label for="uname">Userame</label>
                            <input id="uname" type="text" placeholder="Enter Userame" name="uname">
                            <span class="error-message"></span>
                          </div>
                          
                          <div class="input-group">
                            <label for="email">Email</label>
                            <input id="femail" type="email" placeholder="Enter Email" name="email" >
                            <span class="error-message"></span>
                          </div>
              
                          <div class="input-group">
                            <label for="number">Phone Number</label>
                            <input id="number" type="number" placeholder="Enter Phone Number" name="number">
                            <span class="error-message"></span>
                          </div>
                          
                          <div class="input-group">
                            <label for="psw">Password</label>
                            <input id="password" type="password" placeholder="Enter Password" name="psw">
                            <span class="error-message"></span>
                          </div>
              
                          <div class="input-group">
                            <label for="psw">Password Confirmation</label>
                            <input id="password-confirmation" type="password" placeholder="Repeat Password" name="psw">
                            <span class="error-message"></span>
                          </div>
                      
                          <div class="form-btns">
                            <button type="submit" onclick="submit()">Add</button>
                            <button onclick="reset()">Reset</button>
                          </div>
                          
                        </div>
                      </form>
                </div>
                <script src="js/formsVal.js"></script>



                <div class="view">
                    <div id="search">
                        <div id="sBar">
                            <i id="sIcon" class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users..">
                        </div>
                    </div>

                    <ul id="myUL">
                   
                        <% if(users!=="") {%>
                            <% let uid=1; %>
                            <% users.forEach((user) => { %>
                                <li><a href="#" id=<%= uid %> onmouseover=" updateDeleteButtons(id)" onmouseleave="exit(id)"><%=user.Username %> 
                                    <button onclick="onUpdate('<%=user._id%>','<%=user.Username%>','<%=user.Email%>','<%=user.PhoneNumber%>','<%=user.Password%>')">Update</button>
                                     <button onclick="onDelete('<%=user.Username%>','<%=user.Email%>','<%=user.PhoneNumber%>','<%=user.Password%>')">Delete</button ></a></li>
                            <% uid++; %>
                            <% }); %>
                        <% } %> 
                    
                    </ul>
                </div>



                <div id="updateInfo">
                <form action="/" method="post">
                    <div class="update">
                        <div class="icol">
                            <h4>Username:</h4>
                        </div>
                        <div class="info">
                            <p  id="e1" name="userUpdated"></p>
                        </div>
                        <div class="edit">
                            <button  onclick="replaceInfo('e1')"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <div class="update">
                        <div class="icol">
                            <h4>Email:</h4>
                        </div>
                        <div class="info">
                            <p id="e2" name="emailUpdated"></p>
                        </div>
                        <div class="edit">
                            <button onclick="replaceInfo('e2')"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <div class="update">
                            <div class="icol">
                                <h4>Phone Number:</h4>
                            </div>
                            <div class="info">
                                <p  id="e3" name="phoneUpdated"></p>
                            </div>
                            <div class="edit">
                                <button onclick="replaceInfo('e3')"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                    </div>
                    <div class="update">
                        <div class="icol">
                            <h4>Password:</h4>
                        </div>
                        <div class="info">
                            <p  id="e4" name="pswUpdated"></p>
                        </div>
                        <div class="edit">
                            <button onclick="replaceInfo('e3')"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button style="width:80px;" onclick="save()">Save</button>
                    </div>
                    <p id="currid" name="userid" ></div>
                </form>
                </div>
                <div id="smsg">
                    <span>User's Info Saved</span>
                 </div>

                <div id="deleteUser">
                    <div class="delete">
                        <div>
                            <h4>Username:</h4>
                        </div>
                        <div class="inf">
                            <p id="d1"></p>
                        </div>
                    </div>
                    <div class="delete">
                        <div>
                            <h4>Email:</h4>
                        </div>
                        <div class="inf">
                            <p id="d2"></p>
                        </div>
                    </div>
                    <div class="delete">
                        <div>
                            <h4>Phone Number:</h4>
                        </div>
                        <div class="inf">
                            <p id="d3"></p>
                        </div>
                    </div>
                    <div class="delete">
                        <div>
                            <h4>Password:</h4>
                        </div>
                        <div class="inf">
                            <p id="d4"></p>
                        </div>
                    </div>
                    <div>
                        <button onclick="document.getElementById('id01').style.display='block'">Remove</button>

                        <div id="id01" class="modal">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <form class="modal-content" action="">
                            <div class="container">
                                <h1>Delete User</h1>
                                <p>Are you sure you want to delete this user?</p>
                  
                                <div class="clearfix">
                                <button type="button" class="cancelbtn" onclick="cancel()">Cancel</button>
                                <button type="button" class="deletebtn" onclick="del()">Delete</button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div id="msg">
                            <span>User Deleted Successfully</span>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script src="/js/user.js"></script>

</body>
</html>