<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bookings</title>

    <link rel="stylesheet" href="/css/styleAdminDashboard.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" type="text/css" href="/css/styleHotels.css">
    <link rel="stylesheet" type="text/css" href="/css/styleActivities.css">

</head>

<body>
    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>


    <%- include("partials/adminHeader.ejs") %>

    <div id="parent" style="margin-left:300px;">
        <% if(bookings!=="") { %>
            <% let id=1; %>
            <% bookings.forEach((booking) => { %>
            <% users.forEach((user) => { %>
            <% if(booking.User == user._id) { %>
                <h2 style="margin-left:30px;"><%=user.Username%></h2>
            <% } %>
            <% }) %> 
            <div class="cols" style="width:400px;" id="btn">
                <% if(booking.Hotels!=="") { %>
                <% booking.Hotels.forEach((bookhotels) => { %> 
                <% hotels.forEach((hotel) => { %>
                 <% if(bookhotels.id == hotel._id) { %>
                    <h2><%=hotel.Name%></h2>
                <% } %>
                <% }) %>
                    <strong>Check in:</strong>
                    <%=bookhotels.checkIn %>
                    <strong>Check out:</strong>
                    <%=bookhotels.checkOut %>
                    <strong>Days:</strong>
                    <%=bookhotels.days %>
                    <br>
                    <strong>Children:</strong>
                    <%=bookhotels.children %>
                    <strong>Adults:</strong>
                    <%=bookhotels.adults %>
                    <br>
                    <strong>Rooms:</strong>
                    <%=bookhotels.rooms %>
                    <strong>RoomType:</strong>
                    <%=bookhotels.roomType %>
                    <br>
                    <strong>Price:</strong>
                    <%=bookhotels.price %>
            </div>
                <%id++;%>
                <% }) %>
                <% } %>
                <div class="cols" style="width:400px;" id="btn">
                    <% if(booking.Activities!=="") { %>
                    <% booking.Hotels.forEach((bookhotels) => { %> 
                    <% hotels.forEach((hotel) => { %>
                     <% if(bookhotels.id == hotel._id) { %>
                        <h2><%=hotel.Name%></h2>
                    <% } %>
                    <% }) %>
                <% }) %>
                <% } %>
            </div>



</body>
</html>