<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/wishlist.css">
    <link rel="stylesheet" href="/css/styleHF_ALL.css">
    <link rel="stylesheet" href="/css/styleForm.css">
</head>
<body>

    <script src="https://kit.fontawesome.com/ee4053c9b9.js" crossorigin="anonymous"></script>
 
    <%- include("partials/headerPages.ejs") %>

    <h1 style="margin-left:2%;">Wish List</h1>
    <%var count = 0%>

    <div class="wishlist">
        <div class="left" >
            <%if(user!==""){%>
            <% if(user.Wishlist==="") {%>
                <div style="margin-left: 40%; margin-top: 10%;">
                    <h2>There is nothing in your favorites...</h2>
                </div>
            <% } %>
            
            <%user.Wishlist.Hotels.forEach((hotel)=>{%>  
                <div class="items" type="button" id="<%=hotel.Name%>" >

                    <div class="image" style="flex:20%;" onclick="location.href= '/hotels/<%=hotel.Name%>'">
                            <img src="../images/Hotels/<%=hotel.Picture%>" alt="icon" style="width:250px; height:200px;">
                    </div>

                    <div class="item-info" style="flex:50%" onclick="location.href= '/hotels/<%=hotel.Name%>'">
                            <h2><%=hotel.Name%></h2>
                            <h4><%=hotel.Location%></h4>
                            <p><%=hotel.Caption%></p>
                    </div> 
                    <div class="item-right" style="flex:30%">
                        <i class="fa-solid fa-trash-can" style="margin-left:10%; padding:20px;" onclick="location.href='/wishlist/remove-from-wishlist/<%=hotel.HotelID%>';"></i>
                    </div>

                </div>
                <%count++;%>
            <% })%>
        <%j=0; %>




        <% if(user.Wishlist.Activities.length!=0){ %>
            <%user.Wishlist.Activities.forEach((activity)=>{%>   <!--showing activities cart -->
        <div class="items" id="<%=id%>">
            <div class="image">
                <div>
                    <img src="../images/activities/<%=activity.Picture[0] %>" alt="icon" style="width:250px; height:200px;">
                </div>
            </div>
            <div class="item-info">
    
                <div>
                    <h2><%= activity.Name %></h2>
                </div>
                
            </div>
                
            <div class="item-right">
                <i class="fa-solid fa-trash-can" style="margin-left:10%;" onclick="location.href='wishlist/<%=id%>';"></i>
                <p class="price">Price: $<%=wishlist.Activities[j].price%></p>
            </div>
        </div>
        
        <% j++;%>
        <% id++;%>
        <% count++; %>
        <% }) %>
        <% } %>
        <%}else{%>
            <div style="margin-left: 40%; margin-top: 10%;">
                <%if(msg!=""){%>
                    <h2><%=msg%></h2>
                <%}%>
                
            </div>
        <%}%>
     </div>
        <% if(user!="" && user.Wishlist!="") {%>
        <div class="r"style="flex:30%;">
            
            <div class="right" style="height:auto">
                <div>
                        <span style="text-align: center;"> <h3 >Total (<span id="cnt"><%=count%></span>) Items</h3></span>
                    
                </div>
               
                <div style="text-align:center;">
                    <button class="clear" style="background-color: #36241b; color:white;" onclick="location.href='wishlist/clear'">Clear Favorites</button>
                </div>
            </div>
        </div>
        <% } %>
            

    </div>
        
    
<div style="height:200px">

</div>

<%- include("partials/footer.ejs") %>

</body>
</html>